<app-about-hero></app-about-hero>

<div class="container">
    <div class="row row-cols-lg-3">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quae corrupti ea, voluptatibus placeat hic explicabo doloremque accusamus! Quam cum magni ad quas saepe tenetur laborum mollitia laboriosam velit magnam!</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quae corrupti ea, voluptatibus placeat hic explicabo doloremque accusamus! Quam cum magni ad quas saepe tenetur laborum mollitia laboriosam velit magnam!</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quae corrupti ea, voluptatibus placeat hic explicabo doloremque accusamus! Quam cum magni ad quas saepe tenetur laborum mollitia laboriosam velit magnam!</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quae corrupti ea, voluptatibus placeat hic explicabo doloremque accusamus! Quam cum magni ad quas saepe tenetur laborum mollitia laboriosam velit magnam!</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quae corrupti ea, voluptatibus placeat hic explicabo doloremque accusamus! Quam cum magni ad quas saepe tenetur laborum mollitia laboriosam velit magnam!</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quae corrupti ea, voluptatibus placeat hic explicabo doloremque accusamus! Quam cum magni ad quas saepe tenetur laborum mollitia laboriosam velit magnam!</p>
        </div>
        
    </div>

</div>