<div class="container">

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-xs-1">
        <div *ngFor="let product of newPropNames; index as i">

            <div class="card" style="width: 18rem;">

                <img src="{{product.img}}" class="card-img-top">

                <ng-template [ngIf]="product.availability == true" [ngIfElse]="demo">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text">{{product.price}}</p>
                        <a class="btn btn-primary mr-5" routerLink="/Menu/{{i}}">Details</a>
                        <a routerLink="/cart" class="btn btn-primary">Order</a>

                    </div>
                </ng-template>

                <ng-template #demo>

                    <p>not available</p>
                </ng-template>


            </div>

        </div>

    </div>

</div>