<app-home-hero></app-home-hero>

<section id="services" class="container">
    <h2 class="display-4 text-center mt-5 mb-3">Stuff our Marketing Consultant Said to Say</h2>
    
    <div class="row text-center">
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/03/05/19/10/age-1238290_1280.jpg" alt="Design">
             <div class="card-body">
                <h4 class="card-title">At Least 1 Star Rating</h4>
                <p class="card-text">Eat and hope you don't get sick!</p>
             </div>
             <div class="card-footer py-4">
                <a href="#" class="btn btn-secondary">Local Hospitals &raquo;</a>
             </div>
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/10/09/19/19/coins-1726618_1280.jpg" alt="Development">
             <div class="card-body">
                <h4 class="card-title">High Prices!</h4>
                   <p class="card-text">You will eat what we serve you and you will pay top dollar for it!</p>
             </div>
             <div class="card-footer py-4">
                <a href="#" class="btn btn-secondary">Ask about our Loans &raquo;</a>
             </div>
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/08/20/14/43/finger-422529_1280.jpg" alt="Analytics">
             <div class="card-body">
                <h4 class="card-title">No Business License</h4>
                <p class="card-text">We just like to do our thing and not be bothered by the Man!</p>
             </div>
             <div class="card-footer py-4">
                <a href="#" class="btn btn-secondary">See testimonials &raquo;</a>
             </div>
          </div>
       </div>
    </div>
 </section>