<div class="px-4 py-5 my-1   text-center" id="heroPic">
  <img class="d-block mx-auto mb-4" src="https://cdn.pixabay.com/photo/2016/03/05/20/07/grilled-1238668_1280.jpg" alt=""
    width="72" height="57">
  <h1 class="display-5 fw-bold">Ristorante Il Gambera Rossa</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4" id="font2">Delivering great food for more than 18 years!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/Menu">Our Menu</button>
      <button type="button" class="btn btn-success btn-lg px-4" routerLink="/Menu">Book a table</button>
    </div>
  </div>
</div>